* {
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 90px;
    display :flex;
    align-items: center;

background-color:#012D63;
   font-family: Roboto;
   gap: 50px;
   color: white;
   text-decoration: none;
}
.navbar-text {
gap: 20px;
display: flex;
background-color:#012D63;
margin-left: 420px;
   color: white;
   text-decoration: none;

}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
hero-title {
    font-size: 48px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
}
body {
    margin: 0;
    padding: 0;
}
.hero{
    width: 100%;
    height: 858px;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    background-image: url(shoe.png);
    background-size: cover;
    background-position: center;
    color: white;

}
.playfair {
    font-family: 'Playfair Display', serif;
}
button {
    background-color: #8E32C6;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 254px;
    height: 67px;
    top: 698px;
    left: 165px;
    border-radius: 10px;

}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.ha {
font-weight: 400;
font-style: Regular;
font-size: 144px;
line-height: 100%;
letter-spacing: 0%;

}
.he{

font-weight: 400;
font-style: Regular;
font-size: 72px;
line-height: 100%;
letter-spacing: 0%;

}
.features {
    width: 1920px;
    background-image: url(backround.png);
    background-size: cover;
    background-position: center;
height: 606px;
top: 948px;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-family: 'Playfair Display', serif;
font-size: 36px;

}
.featurebox {
    display: flex;
    gap: 100px;
    padding: 50px;
    border: 5px solid #8E32C6;
}
.image1 {
    width: 240px;
height: 240px;
top: 1184px;
left: 215px;
opacity: 1;

}
.image2 {
    width: 240px;
height: 240px;
top: 1078px;
left: 600px;
opacity: 1;
}
.image3 {
width: 240px;
height: 240px;
top: 1184px;
left: 985px;
opacity: 1;

}
.borderPlease {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 0 100px;
}


.reviews {
    background-image: url(backround2.png);
    background-size: cover;

opacity: 1;
display: flex;
width: 100%;
height: 520px;
top: 1554px;
opacity: 1;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;

}
.reviews h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: white;
}
.display {
    display: flex;
    gap: 50px;
    flex-direction: row;
}
.one {
    background:linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    width: 255px;
height: 292px;
top: 1668px;
left: 244px;
opacity: 1;
border-radius: 10px;
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;


}
.three {
    background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    width: 255px;
height: 292px;
top: 1668px;
left: 244px;
opacity: 1;
border-radius: 10px;
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

}
.two {
    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
        width: 255px;
height: 292px;
top: 1668px;
left: 244px;
opacity: 1;
border-radius: 10px;
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

}
.loginSection {
    width: 1920px;
    height: 606px;
    background-image: url(backieround.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gmail {
width: 690px;
height: 60px;
top: 2192px;
left: 375px;
opacity: 1;
border-radius: 50px;
}
.gmail input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 50px;
}
.Hoa h1{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: white;
}